<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="active">
                    <a href="#"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-money"></i> <span> Orders </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li>
                            <a href="#"><i class="fe fe-credit-card"></i> <span>Purchases</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fe fe-globe"></i> <span>Deliveries</span></a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-shopping-bag"></i> <span> Store</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li>
                            <a href="#"><i class="fe fe-gift"></i> <span> Products </span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fe fe-upload"></i> <span>Stock Up</span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fe fe-users"></i> <span>Customers</span></a>
                </li>
                <li>
                    <a href="#"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                </li>
                <li>
                    <a href="#"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                </li>
                <li>
                    <a href="#"><i class="fe fe-vector"></i> <span>Settings</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="#">Invoice Reports</a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Blog</span>
                </li>
                <li>
                    <a href="#"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="#"> Lock Screen </a></>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->