{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-3 ptb-150" style="background-image:url({% static 'img/bg/breadcrumb.jpg' %});">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h3>ABOUT US</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active">About Us</li>
      </ul>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->
<!-- About Us Area Start -->
<div class="about-us-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 d-flex align-items-center">
        <div class="overview-content-2">
          <h4>Welcome To</h4>
          <h2>PharmaParlor Phamarcy!</h2>
          <p class="peragraph-blog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Corporis voluptatum aperiam atque animi. Vel odit, incidunt
            labore ab voluptas debitis iste accusamus excepturi enim culpa
            laboriosam tempora cupiditate reiciendis vitae.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Dolores accusantium consequuntur hic illo sit quasi delectus
            corrupti, architecto numquam rem, minus autem eligendi
            consectetur eum voluptates molestiae itaque repudiandae
            suscipit.
          </p>
          <div class="overview-btn mt-40">
            <img src="{% static 'assets/img/icon-img/signature.png'%}" alt="Candidate Signature" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="overview-img text-center">
          <a href="#">
            <img src="{% static 'img/banner/about-us.jpg'%}" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Us Area End -->
<!-- Testimonial Area Start -->
<div class="testimonials-area gray-bg pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="testimonial-active owl-carousel">
          <div class="single-testimonial text-center">
            <div class="testimonial-img">
              <img alt="" src="{% static 'img/icon-img/testi.png'%}" />
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
            <h4>Charity Otieno</h4>
            <h5>Customer</h5>
          </div>
          <div class="single-testimonial text-center">
            <div class="testimonial-img">
              <img alt="" src="{% static 'img/icon-img/testi.png'%}" />
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
            <h4>Hope Otieno</h4>
            <h5>Marketing</h5>
          </div>
          <div class="single-testimonial text-center">
            <div class="testimonial-img">
              <img alt="" src="{% static 'img/icon-img/testi.png'%}" />
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
            <h4>Caleb Otieno</h4>
            <h5>Admin</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Area End -->
<!-- Team Area Start -->
<div class="team-area pt-95 pb-70">
  <div class="container">
    <div class="product-top-bar section-border mb-50">
      <div class="section-title-wrap style-two text-center">
        <h3 class="section-title">Team Members</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              <img src="{% static 'img/coming.jpg'%}" alt="" />
            </a>
            <div class="team-action">
              <a class="action-plus facebook" href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a class="action-heart twitter" title="Wishlist" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="action-cart instagram" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Mr. Johnny Test</h4>
            <span>Manager </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="product-img">
            <a href="product-details.html">
              <img src="{% static 'img/coming.jpg'%}" alt="" />
            </a>
            <div class="team-action">
              <a class="action-plus facebook" href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a class="action-heart twitter" title="Wishlist" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="action-cart instagram" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Mr. John Doe</h4>
            <span>Developer </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              <img src="{% static 'img/coming.jpg'%}" alt="" />
            </a>
            <div class="team-action">
              <a class="action-plus facebook" href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a class="action-heart twitter" title="Wishlist" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="action-cart instagram" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Ms. Jane Doe</h4>
            <span>Doctor </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team Area End -->
<!-- Project Area Start -->
<div class="project-count-area gray-bg pt-75 pb-55">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-count text-center mb-30">
          <div class="count-title">
            <h2 class="count">60</h2>
            <span>customer served</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-count text-center mb-30">
          <div class="count-title">
            <h2 class="count">90</h2>
            <span>consultations done</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-count text-center mb-30">
          <div class="count-title">
            <h2 class="count">20</h2>
            <span>deliveries</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-count text-center mb-30 mrgn-none">
          <div class="count-title">
            <h2 class="count">200</h2>
            <span>happy clients</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Project Area End -->
<!-- Start Brand Area -->
<div class="brand-logo-area ptb-100">
  <div class="container">
    <div class="brand-logo-active owl-carousel">
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/aveeno.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/bio_oil.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/holland.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/dr.organic.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/durex.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/garnier.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/huggies.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/maalox.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/nivea.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/pampers.jpg'%}" />
      </div>
      <div class="single-brand-logo">
        <img alt="" src="{% static 'img/brand/urban_veda.jpg'%}" />
      </div>
    </div>
  </div>
</div>
<!-- End Brand Area -->

{% endblock %}