{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-3 ptb-150" style="background-image:url({% static 'img/bg/breadcrumb.jpg' %});">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>CART</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- shopping-cart-area start -->
<div class="cart-main-area ptb-100">
    <div class="container">
        <h3 class="page-title">Your cart items: {{order.get_cart_items}}</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th></th>
                                    <th>Subtotal</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td class="product-thumbnail ">
                                        <img src="{{item.product.image_url}}" alt="" class="ml-4" width="100%">
                                    </td>
                                    <td class="product-name">{{item.product.name}}</td>
                                    <td class="product-price-cart"><span class="amount">KSH:
                                            {{item.product.price|floatformat:2}}</span></td>
                                    <td class="product-quantity">
                                        <p class="quantity">{{item.quantity}}</p>
                                    </td>
                                    <td>
                                        <div class="quantity">
                                            <img data-product="{{item.product.id}}" width="30%" data-action="add"
                                                class="chg-quantity update-cart" src="{% static 'img/up.png'%}"><br>

                                            <img data-product="{{item.product.id}}" width="30%" data-action="remove"
                                                class="chg-quantity update-cart" src="{% static 'img/down.png'%}">
                                        </div>

                                    </td>
                                    <td class="product-subtotal">KSH: {{item.get_total}}</td>
                                    <td class="product-remove">

                                        <a data-product="{{item.product.id}}" class="update-cart"
                                            data-action="delete"><i class="fa fa-times "></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="{% url 'shop' %}">
                                        <ion-icon name="arrow-back-outline"></ion-icon> Continue
                                        Shopping
                                    </a>
                                </div>
                                <div class="cart-clear">

                                    <a data-product="{{item.product.id}}" class="update-cart" data-action="clear">Clear
                                        Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">

                    <div class="col-md-6">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                            </div>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" required="" name="name">
                                    <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total products <span>KSH: {{order.get_cart_total|floatformat:2}}</span></h5>
                            <div class="total-shipping">
                                <h5>Total shipping</h5>
                                <ul>
                                    <li><input type="checkbox"> Standard <span>KSH: 100</span></li>
                                    <li><input type="checkbox"> Express <span>KSH: 150</span></li>
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total <span>KSH:
                                    {{order.get_cart_total|floatformat:2}}</span></h4>
                            <a href="{% url 'checkout' %}">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}