{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-3 ptb-150" style="background-image:url({% static 'img/bg/breadcrumb.jpg' %});">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h3>CHECKOUT</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active">CHECKOUT</li>
      </ul>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->
<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="checkout-wrapper">
          <div id="faq" class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title"><span>1.</span> <a data-toggle="collapse" data-parent="#faq"
                    href="#payment-1">Checkout method</a></h5>
              </div>
              <div id="payment-1" class="panel-collapse collapse show">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="checkout-register">
                        <div class="title-wrap">
                          <h4 class="cart-bottom-title section-bg-white">CHECKOUT AS A
                            GUEST OR REGISTER</h4>
                        </div>
                        <div class="register-us">
                          <ul>
                            <li><input type="checkbox"> Checkout as Guest</li>
                            <li><input type="checkbox"> Register</li>
                          </ul>
                        </div>
                        <h6>REGISTER AND SAVE TIME!</h6>
                        <div class="register-us-2">
                          <p>Register with us for future convenience.</p>
                          <ul>
                            <li>Fast and easy checkout</li>
                            <li>Easy access to your order history and status</li>
                          </ul>
                        </div>
                        <a href="#">Apply Coupon</a>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="checkout-login">
                        <div class="title-wrap">
                          <h4 class="cart-bottom-title section-bg-white">LOGIN</h4>
                        </div>
                        <p>Already have an account? </p>
                        <span>Please log in below:</span>
                        <form>
                          <div class="login-form">
                            <label>Email Address * </label>
                            <input type="email" name="email">
                          </div>
                          <div class="login-form">
                            <label>Password *</label>
                            <input type="password" name="email">
                          </div>
                        </form>
                        <div class="login-forget">
                          <a href="#">Forgot your password?</a>
                          <p>* Required Fields</p>
                        </div>
                        <div class="checkout-login-btn">
                          <a href="#">Login</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title"><span>2.</span> <a data-toggle="collapse" data-parent="#faq"
                    href="#payment-6">Order Review</a></h5>
              </div>
              <div id="payment-6" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="order-review-wrapper">
                    <div class="order-review">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="width-1">Product Name</th>
                              <th class="width-2">Price</th>
                              <th class="width-3">Qty</th>
                              <th class="width-4">Subtotal</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in items %}
                            <tr>
                              <td>
                                <div class="o-pro-dec">
                                  <p>{{item.product.name}}</p>
                                </div>
                              </td>
                              <td>
                                <div class="o-pro-price">
                                  <p>{{item.product.price|floatformat:2}}</p>
                                </div>
                              </td>
                              <td>
                                <div class="o-pro-qty">
                                  <p>{{item.quantity}}</p>
                                </div>
                              </td>
                              <td>
                                <div class="o-pro-subtotal">
                                  <p>KSH: {{item.get_total}}</p>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="3">Total items </td>
                              <td colspan="1">{{order.get_cart_items}}</td>
                            </tr>
                            <tr>
                              <td colspan="3">Subtotal </td>
                              <td colspan="1">KSH: {{order.get_cart_total|floatformat:2}}</td>
                            </tr>
                            <tr class="tr-f">
                              <td colspan="3">Shipping & Handling (Flat Rate - Fixed
                              </td>
                              <td colspan="1">$45.00</td>
                            </tr>
                            <tr>
                              <td colspan="3">Grand Total</td>
                              <td colspan="1">KSH: {{order.get_cart_total|floatformat:2}}</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <div class="billing-back-btn">
                        <span>
                          Forgot an Item?
                          <a href="#"> Edit Your Cart.</a>

                        </span>
                        <div class="billing-btn">
                          <a data-toggle="collapse" class="btn btn-success" data-parent="#faq"
                            href="#payment-3">Continue</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title"><span>3.</span> <a data-toggle="collapse" data-parent="#faq"
                    href="#payment-3">Shipping Information</a></h5>
              </div>
              <div id="payment-3" class="panel-collapse collapse ">
                <div class="panel-body">
                  <div class="shipping-method-wrapper">
                    <div class="shipping-method">
                      <div class="col-md-10">
                        <div class="cart-tax">

                          <div class="tax-wrapper">
                            <p>Enter your shipping credentials.</p>
                            <div class="tax-select-wrapper">
                              <form id="form" method="POST">
                                {% csrf_token %}
                                <div id="user-info">
                                  <div class="form-field">
                                    <input required class="form-control" type="text" name="name" placeholder="Name">
                                  </div><br>
                                  <div class="form-field">
                                    <input required class="form-control" type="email" name="email" placeholder="Email">
                                  </div>
                                </div><br>
                                <div id="shipping-info">

                                  <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Address">
                                  </div><br>
                                  <div class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="City">
                                  </div><br>
                                  <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Zipcode">
                                  </div>
                                </div>
                                <br>
                                <!-- <input type="hidden" name="next" value="{{next}}"> -->
                                <div class="billing-back-btn">
                                  <div class="billing-back">
                                    <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                                  </div>
                                  <div class="billing-btn">
                                    <a data-toggle="collapse" class="btn btn-success" data-parent="#faq"
                                      href="#payment-4">Continue</a>
                                    <!-- <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue"> -->
                                  </div>
                                </div>
                              </form>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title"><span>4.</span> <a data-toggle="collapse" data-parent="#faq"
                    href="#payment-4">payment information</a></h5>
              </div>
              <div id="payment-4" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="payment-info-wrapper">
                    <div class="ship-wrapper">
                      <div class="single-ship">
                        <input type="radio" checked="" value="address" name="address">
                        <label>Check / Money order </label>
                      </div>
                      <div class="single-ship">
                        <input type="radio" value="dadress" name="address">
                        <label>Credit Card (saved) </label>
                      </div>
                    </div>
                    <div class="payment-info">
                      <div class="row">
                        <div class="col-lg-6 col-md-6">
                          <div class="billing-info">
                            <label>Name on Card </label>
                            <input type="text">
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="billing-select">
                            <label>Credit Card Type</label>
                            <select>
                              <option>American Express</option>
                              <option>Visa</option>
                              <option>MasterCard</option>
                              <option>Discover</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                          <div class="billing-info">
                            <label>Credit Card Number </label>
                            <input type="text">
                          </div>
                        </div>
                      </div>
                      <div class="expiration-date">
                        <label>Expiration Date </label>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-select">
                              <select>
                                <option>Month</option>
                                <option>January</option>
                                <option>February</option>
                                <option> March</option>
                                <option>April</option>
                                <option> May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option> October</option>
                                <option> November</option>
                                <option> December</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-select">
                              <select>
                                <option>Year</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="billing-info">
                            <label>Card Verification Number</label>
                            <input type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="billing-back-btn">
                      <div class="billing-back">
                        <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                      </div>
                      <div class="billing-btn">
                        <button id="payment">Make Payment</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="checkout-progress">
          <h4>Checkout Progress</h4>
          <ul>
            <li>Billing Address</li>
            <li>Shipping Address</li>
            <li>Shipping Method</li>
            <li>Payment Method</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  //if product is not in stock the shipping form is not possible(set to false)//
  var shipping = '{{order.shipping}}'
  var total = '{{order.get_cart_total}}'
  if (shipping == 'False') {
    document.getElementById('shipping-info').innerHTML = ''
  }
  //if user is auth the name and email input are hidden//
  if (user != 'AnonymousUser') {
    document.getElementById('user-info').innerHTML = ''
  }
  var form = document.getElementById('form')

  csrftoken = form.getElementsByTagName("input")[0].value
  console.log('Newtoken:', form.getElementsByTagName("input")[0].value)

  form.addEventListener('submit', function (e) {
    e.preventDefault()
    console.log('Submitted')
    // document.getElementById('form-button').style.listStyleType.add('hidden')
  })

  document.getElementById('payment').addEventListener('click', function (e) {
    submitFormData()
  })

  function submitFormData() {
    console.log('payment button clicked')
    var userFormData = {
      'name': null,
      'email': null,
      'total': total,
    }
    var shippingInfo = {
      'address': null,
      'city': null,
      'zipcode': null,
    }

    if (shipping != 'False') {
      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.zipcode = form.zipcode.value
    }

    if (user == 'AnonymousUser') {
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    var url = '/process_order/'

    fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          'form': userFormData,
          'shipping': shippingInfo
        })
      })

      .then((response) => {
        if (!response.ok) {
          //error processing
          throw 'Error';
        }
        return response.json()
      })
      // .then(text => console.log(text))
      .then((data) => {
        console.log('Success:', data);
        alert('Transaction complete');
        cart = {}
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        window.location.href = "{% url 'shop' %}"
      })


  }
</script>
{% endblock %}