{% load static %}
<!-- header start -->
<header class="header-area gray-bg clearfix">

    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-6">
                    <div class="pt-15">
                        <div class="main-menu">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <div class="pt-15">

                                {% if user.is_authenticated%}
                                <!-- Nav Item - User Information -->
                                <br>
                                <span class="mr-2 d-none d-lg-inline text-gray-900 larger">{{request.user}}</span>

                                <!-- Dropdown - User Information -->

                                {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-door-open"></i>
                                    </span>
                                    <span class="text">Login</span>
                                </a>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="logo">
                        <a href="/">
                            <img alt="" src="{% static 'img/logo/logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="top-hover"><a href="/">home</a>
                                    </li>
                                    <li><a href="{% url 'about_us' %}">about</a></li>
                                    <li class="mega-menu-position top-hover"><a href="{% url 'shop' %}">shop</a>
                                        <ul class="mega-menu">
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">Health and Wellness
                                                    </li>
                                                    <div class="list">
                                                        <li>Fitness and Supplements
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Aromatherapy</a>
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Producta3
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                    </div>

                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">Medical Devices</li>
                                                    <div class="list">
                                                        <li>Health Support Aid
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Diagnostics
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Productb3
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                    </div>

                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">Personal Care</li>
                                                    <div class="list">
                                                        <li>Sexual Wellness
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Mother and Baby
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Personal Hygiene
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Beauty and
                                                            Cosmetics
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                    </div>

                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">Pharmacy Only</li>
                                                    <div class="list">
                                                        <li>Digestive Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Pain Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Respiratory Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>Reproductive Health
                                                        <ul>
                                                            <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                        </ul>
                                                        <li class="mt-2">Wound Care
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Allergy Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">Prescription</li>
                                                    <div class="list">
                                                        <li>Digestive Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Pain Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Respiratory Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Reproductive Health
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Wound Care
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mt-2">Allergy Relief
                                                            <ul>
                                                                <li><a href="{% url 'shop' %}">Sub-sub category</a></li>
                                                            </ul>
                                                        </li>
                                                    </div>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="top-hover"><a href="{% url 'blog' %}">blog</a>
                                    </li>
                                    <li class="top-hover"><a href="#">pages</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'my_account'  %}">My Account</a></li>
                                            <li><a href="{% url 'cart' %}">cart page</a></li>
                                            <li><a href="{% url 'checkout' %}">checkout</a></li>
                                            <li><a href="{% url 'wishlist' %}">wishlist</a></li>
                                            <li><a href="{% url 'register' %}">register</a></li>

                                            <li><a href="{% url 'logout' %}">logout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Currency-->
                        <div class="header-currency">
                            <span class="digit">KSH </span>
                        </div>
                        <!--Cart-->
                        <div class="header-cart">
                            <a href="{% url 'cart' %}">
                                <div class="cart-icon">
                                    <i class="fa fa-shopping-cart">

                                    </i>
                                    <p id="cart-total">{{cartItems}}</p>

                                </div>

                            </a>


                        </div>
                    </div>
                </div>

                <!--Mobile Menu-->
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="index.html">HOME</a>
                                </li>
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="{% url 'my_account' %}">My Account</a></li>
                                        <li><a href="{% url 'cart' %}">cart page</a></li>
                                        <li><a href="{% url 'checkout' %}">checkout</a></li>
                                        <li><a href="{% url 'wishlist' %}">wishlist</a></li>
                                        <li><a href="{% url 'register' %}">register</a></li>
                                        <li><a href="{% url 'login' %}">login</a></li>
                                        <li><a href="{% url 'logout' %}">logout</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'shop' %}"> Shop </a>
                                    <ul>
                                        <li><a href="#">Health and Wellness</a>
                                            <ul>
                                                <li><a href="{% url 'shop' %}">Aromatherapy</a></li>
                                                <li><a href="{% url 'shop' %}">producta2</a></li>
                                                <li><a href="{% url 'shop' %}">Producta3</a></li>
                                                <li><a href="{% url 'shop' %}">Producta4</a></li>
                                                <li><a href="{% url 'shop' %}">Producta5</a></li>
                                                <li><a href="{% url 'shop' %}">Producta6</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Personal Care</a>
                                            <ul>
                                                <li><a href="{% url 'shop' %}">Productb1</a></li>
                                                <li><a href="{% url 'shop' %}">Productb2</a></li>
                                                <li><a href="{% url 'shop' %}">Productb3</a></li>
                                                <li><a href="{% url 'shop' %}">Productb4</a></li>
                                                <li><a href="{% url 'shop' %}">Productb5</a></li>
                                                <li><a href="{% url 'shop' %}">Productb6</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pharmacy Only</a>
                                            <ul>
                                                <li><a href="{% url 'shop' %}">Productc1</a></li>
                                                <li><a href="{% url 'shop' %}">Productc2</a></li>
                                                <li><a href="{% url 'shop' %}">Productc3</a></li>
                                                <li><a href="{% url 'shop' %}">Productc4</a></li>
                                                <li><a href="{% url 'shop' %}">Productc5</a></li>
                                                <li><a href="{% url 'shop' %}">Productc6</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Prescription</a>
                                            <ul>
                                                <li><a href="{% url 'shop' %}">Productd1</a></li>
                                                <li><a href="{% url 'shop' %}">Productd2</a></li>
                                                <li><a href="{% url 'shop' %}">Productd3</a></li>
                                                <li><a href="{% url 'shop' %}">Productd4</a></li>
                                                <li><a href="{% url 'shop' %}">Productd5</a></li>
                                                <li><a href="{% url 'shop' %}">Productd6</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Medical Devices</a>
                                            <ul>
                                                <li><a href="{% url 'shop' %}">Productd1</a></li>
                                                <li><a href="{% url 'shop' %}">Productd2</a></li>
                                                <li><a href="{% url 'shop' %}">Productd3</a></li>
                                                <li><a href="{% url 'shop' %}">Productd4</a></li>
                                                <li><a href="{% url 'shop' %}">Productd5</a></li>
                                                <li><a href="{% url 'shop' %}">Productd6</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'blog' %}">BLOG</a>
                                </li>
                                <li><a href="{% url 'contact' %}"> Contact us </a></li>
                                <li>
                                    <!-- Search form -->
                                    <form class="form-inline mr-auto">
                                        <div class="md-form my-0">
                                            <input class="form-control" type="text" placeholder="Search"
                                                aria-label="Search">
                                            <i class="fas fa-search text-white ml-3" aria-hidden="true"></i>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->